@inherits LayoutComponentBase

<img id="beaver" style="transition-duration: 1s; transition-timing-function: ease-in-out; border-radius: 500%; pointer-events: none; z-index: 1; position: absolute; width: 100px; height: 100px; top: 100vh; left: 100vw;" src="https://media1.tenor.com/m/z3sxfsXpHtUAAAAd/beaver-carrot.gif" />

<script>
    let beaver = document.querySelector("#beaver");
    document.onmousemove = e => {
		beaver.style.left = (e.clientX - 50 + Math.random() * 10) + "px";
		beaver.style.top = (e.clientY - 50 + Math.random() * 10) + "px";
	};
    document.onmousedown = e => {
        beaver.style.scale = "2";
        setTimeout(() => {
			beaver.style.scale = null;
        }, 500);
    };
</script>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
